<div class="mb-4 flex justify-between p-5">
    <div class="inline-block">
        <h3 class="font-semibold text-foreground">
            List of Categories</h3>
        <div class="flex justify-start items-center">
            <img [src]="dataUser().avatar" alt="" appNoImage class="rounded-full w-10 h-10 mr-2">
            <p class="text-sm"><span class="font-bold">User Online</span> {{dataUser().name}} <br>
                <span class="font-bold">Email Online</span> {{dataUser().email}}</p>
        </div>
    </div>
</div>

<div class="flex rounded-lg px-8 py-6 items-center justify-center">
    <div class="flex-col items-center w-full min-h-[60vh] grid grid-cols-12 gap-4">
        <div class="flex flex-col justify-start col-span-12 md:col-span-6 lg:col-span-4 h-full">
            <form class="w-full" [formGroup]="categoryForm">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name*" type="text" formControlName="name">
                    @if (formValid['name'].errors && formValid['name'].touched) {
                        @if (formValid['name'].errors['required']) {
                            <mat-error>Email is required</mat-error>
                        }
                    }
                </mat-form-field>
                @if (!actionEdit()) {
                    <mat-form-field class="w-full">
                        <mat-label>Url Image</mat-label>
                        <input matInput placeholder="Url Avatar*" type="text" formControlName="image">
                        @if (formValid['image'].errors && formValid['image'].touched) {
                            @if (formValid['image'].errors['required']) {
                                <mat-error>Email is required</mat-error>
                            }
                        }
                    </mat-form-field>
                }
            </form>
            <div class="flex justify-between items-center">
                <button type="submit" mat-stroked-button (click)="createUpdateCategory()">{{textButton()}}</button>
                <button type="submit" mat-stroked-button (click)="cancelEdit()">Cancelar</button>
            </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-8 overflow-auto"> 
            <table mat-table [dataSource]="categoryList()">
    

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> Image </th>
                    <td mat-cell *matCellDef="let element"> 
                        <img [src]="element.image" alt="" appNoImage class="rounded-full w-10 h-10 mr-2"> </td>
                  </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Options </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex">
                            <button (click)="handleEditCategory(element)"
                            class="flex h-8 w-8 mr-2 items-center justify-center rounded-md bg-gray-400 text-gray-200 hover:bg-muted hover:text-foreground">
                            <i class="fa-solid fa-pen-to-square text-lg"></i>
                            </button>
                            <button  type="button" (click)="handleDeleteCategory(element)"
                                class="flex h-8 w-8 cursor-pointer items-center justify-center rounded-md bg-gray-400 text-gray-200 hover:bg-muted hover:text-foreground">
                                <i class="fa-solid fa-trash text-lg"></i>
                            </button>
                        </div> 
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" #paginator
                showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
          
    </div>
</div>

@if (viewToast()) {
    <ng-container>
        <app-toast [message]="textToast()" [type]="typeToast()" (close)="viewToast.set(false)"></app-toast>
    </ng-container>
}