<div class="h-28"></div>
  <div class="bg-[#F0F0F0]">
    <div
      class="max-w-screen-xl flex flex-wrap items-end justify-around mx-auto md:p-4 p-0 w-5/6 h-full relative"
    >
      <section class="absolute top-0 -translate-y-[4rem]">
        <div
          class="grid md:grid-cols-2 grid-cols-1 gap-5 bg-black w-full py-7 px-4 md:px-16 rounded-2xl"
        >
          <div class="flex justify-center items-center">
            <p class="font-integralCF text-3xl text-left text-white">
              STAY UPTO DATE ABOUT OUR LATEST OFFERS
            </p>
          </div>
          <div class="flex flex-col justify-center items-center gap-3">
            <div class="relative md:w-4/6 w-full flex justify-center">
              <input
                placeholder="Enter your email address"
                name="email"
                type="email"
                class="rounded-2xl h-9 text-sm pl-8"
              />
              <div class="absolute top-1.5 left-2.5 text-muted-foreground">
                <i class="fa-regular fa-envelope"></i>
              </div>
            </div>
            <button
              placeholder="Email"
              name="email"
              type="button"
              class="md:w-4/6 w-full rounded-2xl h-9 bg-white text-black text-xs font-semibold"
            >
              Subscribe to Newsletter
            </button>
          </div>
        </div>
      </section>
      <div class="flex flex-col items-center p-4 justify-center w-full">
        <div class="h-44 md:h-16"></div>
        <section class="min-h-60 border-b border-border">
          <div class="grid grid-cols-2 md:grid-cols-5 gap-4 w-full mt-5">
            <div class="flex flex-col col-span-2 md:col-span-1">
              <p class="font-integralCF text-xl text-left text-black">SHOP.CO</p>
              <p class="text-xs my-4">
                We have clothes that suits your style and which you’re proud to wear. From women to
                men.
              </p>
              <div class="flex gap-2">
                <div
                  class="w-8 h-8 rounded-full bg-white text-black border border-border flex justify-center items-center"
                >
                  <i class="fa-brands fa-twitter"></i>
                </div>
                <div
                  class="w-8 h-8 rounded-full bg-black text-white border border-border flex justify-center items-center"
                >
                  <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div
                  class="w-8 h-8 rounded-full bg-white text-black border border-border flex justify-center items-center"
                >
                  <i class="fa-brands fa-instagram"></i>
                </div>
                <div
                  class="w-8 h-8 rounded-full bg-white text-black border border-border flex justify-center items-center"
                >
                  <i class="fa-brands fa-github"></i>
                </div>
              </div>
            </div>
            <div class="grid grid-rows-5 pt-1 justify-start md:justify-center text-justify">
              <p class="font-light">Company</p>
              <p class="text-muted-foreground text-sm">About</p>
              <p class="text-muted-foreground text-sm">Features</p>
              <p class="text-muted-foreground text-sm">Works</p>
              <p class="text-muted-foreground text-sm">Career</p>
            </div>
            <div class="grid grid-rows-5 pt-1 justify-start md:justify-center text-justify">
              <p class="font-light">HELP</p>
              <p class="text-muted-foreground text-sm">Customer Support</p>
              <p class="text-muted-foreground text-sm">Delivery Details</p>
              <p class="text-muted-foreground text-sm">Terms & Conditions</p>
              <p class="text-muted-foreground text-sm">Privacy Policy</p>
            </div>
            <div class="grid grid-rows-5 pt-1 justify-start md:justify-center text-justify">
              <p class="font-light">FAQ</p>
              <p class="text-muted-foreground text-sm">Account</p>
              <p class="text-muted-foreground text-sm">Manage Deliveries</p>
              <p class="text-muted-foreground text-sm">Orders</p>
              <p class="text-muted-foreground text-sm">Payments</p>
            </div>
            <div class="grid grid-rows-5 pt-1 justify-start md:justify-center text-justify">
              <p class="font-light">RESOURCES</p>
              <p class="text-muted-foreground text-sm">Free eBooks</p>
              <p class="text-muted-foreground text-sm">Development Tutorial</p>
              <p class="text-muted-foreground text-sm">How to - Blog</p>
              <p class="text-muted-foreground text-sm">Youtube Playlist</p>
            </div>
          </div>
        </section>
        <section class="flex justify-between mt-4 w-full flex-wrap gap-3">
          <p class="text-foreground text-sm">Shop.co © 2000-{{ dateNow() }}, All Rights Reserved</p>
          <div class="flex gap-2">
            <div class="bg-white flex justify-center items-center p-2 rounded-lg text-xl">
              <i class="fa-brands fa-cc-visa"></i>
            </div>
            <div class="bg-white flex justify-center items-center p-2 rounded-lg text-xl">
              <i class="fa-brands fa-cc-mastercard"></i>
            </div>
            <div class="bg-white flex justify-center items-center p-2 rounded-lg text-xl">
              <i class="fa-brands fa-cc-paypal"></i>
            </div>
            <div class="bg-white flex justify-center items-center p-2 rounded-lg text-xl">
              <i class="fa-brands fa-cc-apple-pay"></i>
            </div>
            <div class="bg-white flex justify-center items-center p-2 rounded-lg text-xl">
              <i class="fa-brands fa-google-pay"></i>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>