<div class="max-w-screen-xl flex flex-wrap items-center justify-center mx-auto w-full">
    <div class="flex flex-col justify-center items-center p-4 rounded-2xl bg-[#F0F0F0] w-5/6">
      <p class="font-integralCF text-3xl mt-4">BROWSE BY dress STYLE</p>
      <div class="grid grid-cols-1 gap-4 mt-4 w-full p-4 md:grid-cols-3">
        <div
          class="rounded-2xl bg-white h-52 overflow-hidden relative p-4 col-span-2 md:col-span-1"
        >
          <p class="font-bold text-xl z-10 sticky">Casual</p>
          <img
            src="./assets/img/image11.png"
            alt="img1"
            class="absolute h-full w-auto object-cover right-0 bottom-0"
          />
        </div>
        <div class="rounded-2xl bg-white h-52 overflow-hidden relative col-span-2 p-4">
          <p class="font-bold text-xl z-10 sticky">Formal</p>
          <img
          src="./assets/img/image12.png"
            alt="img1"
            class="absolute h-full w-auto object-cover right-0 bottom-0"
          />
        </div>
        <div class="rounded-2xl bg-white h-52 overflow-hidden relative col-span-2 p-4">
          <p class="font-bold text-xl z-10 sticky">Party</p>
          <img
          src="./assets/img/image13.png"
            alt="img1"
            class="absolute h-full w-auto object-cover right-0 bottom-0"
          />
        </div>
        <div
          class="rounded-2xl bg-white h-52 overflow-hidden relative p-4 col-span-2 md:col-span-1"
        >
          <p class="font-bold text-xl z-10 sticky">Gym</p>
          <img
          src="./assets/img/image14.png"
            alt="img1"
            class="absolute h-full w-auto object-cover right-0 bottom-0"
          />
        </div>
      </div>
    </div>
  </div>